html,
body {
    background: url(/app/assets/images/8.jpg) center center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}

.jumbotron {
    margin-top: 120px;
    margin-left: 50px;
}

/*need to bump inline with news feed */
.col-md-3 {
    width: 17%;
    border: 5px solid black;
    float: left;
    padding: 20px;
}